

li {
    list-style-type: none;

}
.buttonWrapper{
    display: flex;
    justify-content: center;
    

}
.button {
    flex-basis: 10%;
    margin: 0 1%;
    padding: 2px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}
.button:hover{
    cursor: pointer;
    background-color: aliceblue;
}
input {
    margin: 3%;
    width: 30vw;
    height: 10vh;
    text-align: center;
    border-radius: 6px;

}